body{
    background-color: mintcream;
}
.about{
    background-image: url(/img/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 110px;
    padding-bottom:110px;
}